{% extends "index.html" %} {% block content %} {% load static %}
<!--=================== Banner section ===============-->
<section id="home" class="banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title-text">Salom🖐️</h3>
                <h1 class="title-text text-uppercase">Mening ismim Dilshod.</h1>
                <h4 class="title-text text-uppercase">Men Junior Web dasturchiman.</h4>
                <div class="button_box d-flex flex-row flex-wrap mt-2">
                    <button class="button btn button-primary primary-button
            text-uppercase" type="button" name="button">Hire Me</button>
                    <button class="button btn secondary-button mr-4 text-uppercase" type="button" name="button">Get Cv</button>
                </div>
            </div>
            <div class="col-md-6">
                <img class="image-fluid w-100" src="{% static 'img\banner\banner-image.png'%}" alt="banner images">
            </div>
        </div>
    </div>
</section>
<!--===================Banner section ==================-->

<!--====================== about-section====================== -->
<section id="about" class="about_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img class="image-fluid" src="{% static 'img/about-us.png'%}" alt="about-img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title">
                <div class="text-uppercase pt-5">
                    <h2 class="about-text">
                        <span>Men</span>
                        <span>O'zimni </span>
                        <span>Tanishtirsam</span>
                    </h2>
                    <div class="paragraf py-4">
                        <p class="para">
                            Men Narzullayev Dilshod 2004-yil yoz oyida tug'ilganman. Dasturlashga qiziqishim bo'lganligi sababli Web dasturlashning back-end yo'nalishini tanlaganman.
                        </p>
                        <p class="para">
                            Hozirgi kunda Pythonning Django frmworki orqali ko'plab loihalarda qatnashib kelmoqdaman.
                        </p>
                        <button type="button" name="button" class="mt-2 btn button
              primary-button button-primary text-uppercase">Downlode cv</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================== about-section End================== -->
<!--<section class="brand-aria py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="row brand_row">
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo1.png'%}" alt="brand-logo">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo2.png'%}" alt="brand-logo">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo3.png'%}" alt="brand-logo">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo4.png'%}" alt="brand-logo">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo5.png'%}" alt="brand-logo">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo6.png'%}" alt="brand-logo">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo7.png'%}" alt="brand-logo">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo8.png'%}" alt="brand-logo">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4">
              <div class="singal-brand">
                <img src="{% static 'img/brands/logo9.png'%}" alt="brand-logo">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="experince-aria">
            <div class="d-flex flex-row years_aria">
              <h2 class="years">07</h2>
              <h2 class="years_text">
                <span>Years</span>
                <span>Experince</span>
                <span>Working</span>
              </h2>
            </div>
            <div class="contect_box">
              <div class="flex-row d-flex">
                <span><i class="fa fa-phone-alt fa-3x"></i></span>
                <a href="#" class="text-uppercase font-roboto h2 call_now">Call Now</a>
              </div>
              <span class=" call_num font-roboto py-4">(+91)-800-555-4986</span>
            </div>
            <div class="bg-panal"></div>
          </div>
        </div>
      </div>
    </div>
  </section>--><br>
<br>
<br>
<!--====================== services section End================== -->
<section id="services" class="services_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="text-uppercase font-roboto">Xizmatlar</h2>
                    <p class="para">
                        Men quyidagi yo'nalishlar bo'yicha yaxshigina tajribaga va bilimga egaman. Va bu yo'nalishlarda faoliyat olib boryabman.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-12 col-md-6 my-x">
                <div class="services">
                    <div class="services-img text-center py-4">
                        <img src="{% static 'img\services\s1.png'%}" alt="" class="img-fluid">
                    </div>
                    <div class="card-body text-center font-roboto">
                        <div class="card-title">
                            <h5 class="text-uppercase font-roboto">Web dasturlash</h5>
                            <p class="card-text text-secondary para" style="height: 100px;">
                                Bu yo'nalishda ko'plab loihalarda firilanser sifatida qatnashganman. Bularga quyida misollar ham ko'rsatib ketaman.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6 my-x">
                <div class="services">
                    <div class="services-img text-center py-4">
                        <img src="{% static 'img\services\s2.png'%}" alt="" class="img-fluid">
                    </div>
                    <div class="card-body text-center font-roboto">
                        <div class="card-title">
                            <h5 class="text-uppercase font-roboto">Office dasturlar</h5>
                            <p class="card-text text-secondary para" style="height: 100px;">
                                Offise dasturlarida ko'p yillik tajriba va bilimga egaman. Va Bu dasturlarda mukammal darajada ishlay olaman.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6 my-x">
                <div class="services">
                    <div class="services-img text-center py-4">
                        <img src="{% static 'img\services\s3.png'%}" alt="" class="img-fluid">
                    </div>
                    <div class="card-body text-center font-roboto">
                        <div class="card-title">
                            <h5 class="text-uppercase font-roboto">Python</h5>
                            <p class="card-text text-secondary para" style="height: 100px;">
                                Python dasturlash tilida Telegram-bot yo'nalishida ham ozroq bo'lsa ham tajribaga egaman. Va bir nechta soddaroq Telegram botlarim faoliyat yuritib kelmoqda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6 my-x">
                <div class="services">
                    <div class="services-img text-center py-4">
                        <img src="{% static 'img\services\s4.png'%}" alt="" class="img-fluid">
                    </div>
                    <div class="card-body text-center font-roboto">
                        <div class="card-title">
                            <h5 class="text-uppercase font-roboto">SMM</h5>
                            <p class="card-text text-secondary para" style="height: 100px;">
                                SMM sohasida ham bir necha yillik tajribaga egaman va faoliyat ko'rsata olaman.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================== about-section End================== -->
<div class="container">
    <div class="rpw">
        <div class="col-12">
            <div class="pad_box p-5"></div>
        </div>
    </div>
</div>
<!--=================== project section End================== -->

<section id="portfollio" class="project_section py-5">
    <div class="cantainer-fluid">
        <div class="prouject-title pb-4">
            <h1 class="text-uppercase title">Yaqinda amalga oshirgan loyihalarim</h1>
            <h1 class="text-uppercase project-sub-title">Eng yaxshi ishlarim</h1>
        </div>       
    </div>
</section>

{% include 'card.html' %}

<!--==================project section End================== -->
<!--==================Secrive  section End================== -->
<section id="Contect" class="subscrive py-5">
    <div class="container">
        <div style="margin: 0 0 0 100px">
            <div class="row">
                <h1>contact us</h1>
            </div>
            <div class="row">
                <h4 style="text-align:center">We'd love to hear from you!</h4>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            5432
            {{ form.as_p }}
            
            <div class="row input-container">
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <input type="text" required />
                    <label>Isim Familya</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                    <input type="text" required />
                    <label>Email</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input" style="float:right;">
                    <input type="text" required />
                    <label>Telefon raqam</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <textarea required></textarea>
                    <label>Xabar</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="btn-lrg submit-btn">Xabarni yuborish</div>
            </div>
        </form>
        </div>
    </div>
    
</section>


{% endblock content %}